In [11]:
i = 3
print(i)

3

In [12]:
j ="Hello World"
j

'Hello World'

In [13]:
b = input("What is your name")
b

''

In [14]:
s = "stevestevesteve"
s = s.lower()
s

'stevestevesteve'

In [15]:
s = "stevestevesteve"
s = s.upper()
s

'STEVESTEVESTEVE'

In [16]:
l =["Steve", 1 , 5, ["Jim, John, George", 8]]
l

['Steve', 1, 5, ['Jim, John, George', 8]]

In [17]:
len(l[-1])

2

In [18]:
new_list = [ True]
print (new_list)
new_list.append ("this is a string")
print (new_list)
new_list.insert(0,19)
print(new_list)
new_list.pop()
print(new_list)

[True]
[True, 'this is a string']
[19, True, 'this is a string']
[19, True]

In [19]:
number_list = [0, 5, 3, 1, 2, 4]
number_list.sort(reverse=True)
number_list   #Give reverse order

[5, 4, 3, 2, 1, 0]

In [20]:
number_list = [0, 5, 3, 1, 2, 4]
print(sorted(number_list, reverse=True))
print(number_list)
#Copy not change

[5, 4, 3, 2, 1, 0]
[0, 5, 3, 1, 2, 4]

In [21]:
list_of_strings = ["Jim", "John", "George", "Alf", "Steve", "Andrew"]
print(sorted(list_of_strings, reverse=False))
print(list_of_strings)
#sorts out "Caps" first

['Alf', 'Andrew', 'George', 'Jim', 'John', 'Steve']
['Jim', 'John', 'George', 'Alf', 'Steve', 'Andrew']

In [22]:
print(int("5")) 
Some_input = input("How old are you")
Some_input = int (Some_input) + 1
print(f"In a year you will be {Some_input}")
# f is to combind string and int

5

In a year you will be 5

In [23]:
HOURLY_SALARY = 50
from typing import Final
NEW_HOURLY_SALARY:Final[int] = 60
NEW_HOURLY_SALARY = 61
#Red line tells you, you have made an error if prints 61 you are a dummy
print(NEW_HOURLY_SALARY)

61

In [24]:
list_of_strings = ["Jim", "John", "George", "Alf", "Steve", "Andrew"]
print(list_of_strings)
list_of_strings.pop(4)
print(sorted(list_of_strings, reverse=False)
print(list_of_strings)

SyntaxError: '(' was never closed (2732659458.py, line 4)

In [ ]:
my_set = {"apples", "bananas", "orange"}
another_set = {"apples", "cherrys", "mellons"}
union = my_set.union(another_set)
print(union)
intersection = my_set.intersection(another_set)
print (intersection)
only_mine = my_set.difference(another_set)
print(only_mine)
only_another_set = another_set.difference(my_set)
print(only_another_set)
sorted(list(union))

{'cherrys', 'orange', 'apples', 'bananas', 'mellons'}
{'apples'}
{'orange', 'bananas'}
{'cherrys', 'mellons'}

['apples', 'bananas', 'cherrys', 'mellons', 'orange']

In [ ]:
my_info = {"name": "steve", "age": 40}
name = my_info ["name"]
age = my_info ["age"]
print(name)
print(age)
my_info ["age"] = my_info["age"] + 1
print(my_info["age"])
print(age)

steve
40
41
40

In [ ]:
empity = dict()
empity["Pets"] = "Dog"
empity["Vets"] = "Pet Super Care"
empity["Owners"] = ["Steve", "Darcy", "John"]
print(empity)

{'Pets': 'Dog', 'Vets': 'Pet Super Care', 'Owners': ['Steve', 'Darcy', 'John']}

In [ ]:
f = open ("text.txt", "r")
print(f.read())

The quick brown fox jumps over the lazy dog!
Once upon a time, there was......
The end

In [ ]:
f = open ("text.txt", "r")
print(f.readline())

The quick brown fox jumps over the lazy dog!

In [ ]:
f = open ("text.txt", "r")
print(f.readline())
print(f.readline())

The quick brown fox jumps over the lazy dog!

Once upon a time, there was......

In [ ]:
f = open ("text.txt", "r")
for line in f: 
    print (line)

The quick brown fox jumps over the lazy dog!

Once upon a time, there was......

The end

In [ ]:
f = open ("text.txt", "r")
for line in f: 
    print (line.upper())

THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG!

ONCE UPON A TIME, THERE WAS......

THE END

In [ ]:
f = open ("text.txt", "r")
for line in f: 
    print (line.upper())
    print ("everytime")
print("finish")

THE QUICK BROWN FOX JUMPS OVER THE LAZY DOG!

everytime
ONCE UPON A TIME, THERE WAS......

everytime
THE END
everytime
finish

In [ ]:
fav_pet = input("what is your fav pet")
fav_pet = fav_pet.lower()
if fav_pet == "dogs":
    print ("you are a dog person")
elif fav_pet == "cat":
    print ("you are a cat person")
else:
    print("You dont have a pet")

you are a dog person

In [ ]:
fav_pet = ""
fav_pet = fav_pet.lower()
while fav_pet != "cat" and fav_pet != "dog":
    fav_pet = input("cat or dog")
    print(fav_pet)

cat

In [ ]:
fav = ""
while fav != "cat" and fav != "dog":
    fav = input("cat or dog")
    print(fav)

cat

In [ ]:
fav_pet = ""
fav_pet = fav_pet.lower()
while fav_pet != "cat" and fav_pet != "dog":
    fav_pet = input("cat or dog")
    if fav_pet == "human":
        break
    print(fav_pet)

bird

In [ ]:
x = 2

match x:
    case 1:
        print("x = 1")
    case 2:
        print("x = 2")
    case _:
        print("I dont want to talk about x")

x = 2

In [ ]:
from enum import Enum

class Color (Enum):
    RED = 1
    BLUE = 2
    YELLOW = 3
    GREEN = 4
    ORANGE = 5

my_color = Color.ORANGE

match my_color:
    case Color.RED:
        print("Color is red")
    case Color.BLUE:
        print("Color is blue")
    case Color.YELLOW:
        print("Color is yellow")
    case Color.GREEN:
        print("Color is green")
    case Color.ORANGE:
        print("Coloe is orange")
    case _:
        print("No Color")

Coloe is orange

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
my_numbers = [8, 5, 3, 7]
print (my_numbers)

[8, 5, 3, 7]

In [ ]:
my_numbers = [8, 5, 3, 7]
new_numbers = [2*i for i in my_numbers]
print(new_numbers)

[16, 10, 6, 14]

In [ ]:
my_info = {"First Name": "Steve", "Last Name": "Law", "Age": 40, "Address": "123 Abc Street"}
for key,value in my_info.items():
    print(f"{key}. {value}")

First Name. Steve
Last Name. Law
Age. 40
Address. 123 Abc Street

In [ ]:
my_queue = []
my_queue.append("Apple")
my_queue.append("Banana")
my_queue.append("Grapes")
my_queue.append("Oranges")
print(my_queue)
print(my_queue.pop(0))
print(my_queue)
my_queue.pop(0)
print(my_queue)
my_queue.append("Milk")
print(my_queue)

['Apple', 'Banana', 'Grapes', 'Oranges']
Apple
['Banana', 'Grapes', 'Oranges']
['Grapes', 'Oranges']
['Grapes', 'Oranges', 'Milk']

In [ ]:
def times_two(x):
    return 2*x

print (times_two(5))
print (times_two(10))
print (times_two(20))

10
20
40

In [ ]:
def side_effect (x,y):
    print(f"value of x = {x} and value of = {y}")

side_effect(2,3)

value of x = 2 and value of = 3

In [ ]:
def print_nicely(my_string):
    print(f"nicely printing {my_string}")
    
def complex_processing(x):
    output_value = x * x + x
    print_nicely (output_value)
    return output_value

complex_processing (10)
complex_processing (20)
complex_processing (30)

nicely printing 110
nicely printing 420
nicely printing 930

930

In [ ]:
y = 5

def times_two(y):
    print(y)
    return 2*y

times_two(6)

6

12

In [ ]:
y = 5

def times_two (x):
    y = x
    print(f"y = {y}")
    return 2*y

times_two(6)
print(f"y = {y}")

y = 6
y = 5

In [10]:

pick_number = int(input("Please pick a number for size"))
n = (pick_number)

for i in range (n):
    print(n*"  "+"|"+n*"  "+" | ")
    
print((2+3*n)*"--")

for i in range (n):
    print(n*"  "+"|"+n*"  "+" | ")
    
print((2+3*n)*"--")

for i in range (n):
    print(n*"  "+"|"+n*"  "+" | ")

      |       |
      |       |
      |       |
----------------------
      |       |
      |       |
      |       |
----------------------
      |       |
      |       |
      |       |

In [35]:
def double_value(x):
    return 4 * x
assert double_value(1) >= 2
assert double_value(3) >= 4

In [39]:
try:
    print(x)
except Exception as e:          #Exception for error
    print("error")
    
print("still running")

error
still running

In [ ]:
def half_numbers(x,y):
    try:
        results = x / y
    except ZeroDivisionError as zde:
        print("You can dont dived by zero")

In [2]:
real_id = {"a", "b", "c", "e", "f", "g", "h"}
h = 8
def real_id(a):
    h = a
    print(f"a = {a}")
    return 2*a

In [4]:
class Car:
    pass

In [8]:
class Car:
    def __init__ (self, brand):
        self.brand=brand
        
my_car = Car(brand="Toyota")
your_car = Car(brand="Mazda")
print(my_car)
print(your_car)

<__main__.Car object at 0x05FD51F8>
<__main__.Car object at 0x05FD5930>

In [13]:
class Car:
    def __init__ (self, brand, milage_km):
        self.brand=brand
        self.milage_km=milage_km
    
    def drive(self, distance_km):
        self.milage_km=self.milage_km + distance_km
        
my_car = Car(brand="Mazda", milage_km= 40000)

my_car.drive(distance_km=1000)
my_car.drive(distance_km=1001)
my_car.drive(distance_km=1002)
my_car.drive(distance_km=100)

print(my_car.__dict__)

{'brand': 'Mazda', 'milage_km': 43103}

In [2]:
class Car:
    def __init__ (self, brand, milage_km):
        self.brand=brand
        self.milage_km=milage_km
    
    def drive(self, distance_km):
        self.milage_km=self.milage_km + distance_km
        
class EleccticCar(Car):
    def __init__(self, brand, milage_km, range):
        super().__init__(brand, milage_km)
        self.range=range

class ICECar(Car):
    def __init__(self, brand, milage_km, fuel_consumption, fuel_level):
        super().__init__(brand, milage_km)
        self.fuel_consumption=fuel_consumption
        self.fuel_level=fuel_level

my_ev = EleccticCar("Telsa", 250, 500)
my_ev.drive(distance_km=100)

my_ICECar = ICECar("Mazda",500, 50, 25)
my_ICECar.drive(distance_km=2000)

print(my_ev.__dict__)
print(my_ev)
print(my_ICECar.__dict__)
print(my_ICECar)

{'brand': 'Telsa', 'milage_km': 350, 'range': 500}
<__main__.EleccticCar object at 0x00F04048>
{'brand': 'Mazda', 'milage_km': 2500, 'fuel_consumption': 50, 'fuel_level': 25}
<__main__.ICECar object at 0x00F04378>